.btn{
    cursor: pointer;
    background-color: black;
    color: white;
    
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px;

    font-size:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    box-shadow: 2px 2px 5px 0px #5E17EB;
}

.btn_active{
    cursor: pointer;
    background-color: #5E17EB;
    color: white;
    
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px;

    font-size:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    box-shadow: 2px 2px 5px 0px black;
}

.btn:hover{
    background-color: #401e83;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}

.back{
    border-radius: 10px;
    height: 100% + 100px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px #5E17EB;
    display: flex;
    flex-direction: column;
}