.row{
    color : #5E17EB;
}

.row > input{
    border: none;
    color:#5E17EB;
    width: 100%;
}

.row > input:focus{
    outline: none;
    border-bottom: 1px solid #5E17EB;
}

.input{
    height: 50px;
    width: 200px;
}

.btn{
    text-align: center;
    background-color: #5E17EB;
    color : white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.btn:hover{
    box-shadow: #5E17EB 0px 0px 5px 0px;
    cursor: pointer;
}

.error{
    font-size:10px;
    color : red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.component{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}